table{
    border-collapse: collapse;
    letter-spacing: 4px;
    width: 50%;
    margin: auto;
}
thead{
    background-color: #B1D0B0;
}
th{
    color: white;
    padding: 1rem 1rem;
}
td{
        padding: 3rem 4rem;
}
tbody{
    background-color: lightblue;
    text-align: center;

}
.produtos{
    height: 7em;
}
.x{
    height: 1rem;
}  
